NODE_ENV=#####
PORT=your_port

ASTRA_TOKEN=your_astra_token
ASTRA_CLIENT_ID=your_astra_client_id
ASTRA_SECRET=your_astra_secret
SCB_PATH=your_scb_path

REDIS_URL=redis_url
REDIS_PASSWORD=some-strong-password

OTEL_SERVICE_NAME=your_otel_service_name

RECAPTCHA_SITE_KEY=your_recaptcha_site_key
RECAPTCHA_SECRET_KEY=your_recaptcha_secret_key

ACCESS_TOKEN_SECRET=your_access_token_secret
REFRESH_TOKEN_SECRET=your_refresh_token_secret

LOAD_TEST_URL=your_load_test_url